*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(207, 187, 162);
    overflow: hidden;
}
h1{
    font-size: 40px;
    font-weight: bold;
    color: brown;
    margin: 30px;
}
.container{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
}
label{
    color: brown;
    font-size: 20px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 15px 20px;
    background: none;
    outline: none;
    border: 1px solid brown;
    color: brown;
    font-size: 25px;
    margin-bottom: 20px;
}